:root {
  --header-height: 40px;

}

* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: inherit;
}

html {
  font-size: 14px;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-weight: normal;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  padding-top: var(--header-height);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
  cursor: pointer;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

input {
  outline: none;
  word-break: break-all;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong,
label {
  font-weight: 600;
}

